<title>{%- if page.title~='BLOG' -%}{{ page.title}} - {%- endif -%}{{ site.title | upcase }}</title>
<meta charset="utf-8">
<!-- Open Graph -->
<meta property="og:locale" content=" zh_CN.GB18030">
<meta property="og:type" content="article">
<meta property="og:title" content="{%- if page.title -%}{{ page.title }}{%- else -%}{{ site.title }}{%- endif -%}">
<meta property="og:description" content="{{ page.description | default: site.description | default: " " }}">
<meta property="og:url" content="{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">
<!-- mobile -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link href="/assets/css/style.css" rel="stylesheet"/>
<script type="text/javascript" src="/assets/js/NengeJS.js"></script>
