---
layout: default
---
<main class="page-content home" aria-label="Content">
  <div class="wrapper">
      {%- if site.paginate -%}
        <section class="post-list">
          <!-- This loops through the paginated posts -->
      {%- for post in paginator.posts -%}
      {%- include home_page.html -%}
      {%- endfor -%}
    </section>
      {%- include nav_page.html -%}
      {%- endif -%}
      <fieldset class="wbox">
    <legend class="title">健康信息 <a href="#">hfgdfg</a></legend>
    <div class="content">vxzvzv</div>
  </fieldset>    <fieldset class="wbox info">
    <legend class="title">健康信息 <a href="#">hfgdfg</a></legend>
    <div class="content">vxzvzv</div>
  </fieldset>
    <div class="wbox info">
      <h3 class="title">我们的爱</h3>
      <div class="content">vxzvzv</div>
      <div class="foot">
vcvcx
      </div>
    </div>
      <div class="wbox warn">
        <h3 class="title">我们的爱</h3>
        <div class="content">vxzvzv</div>
        <div class="foot">

        </div>
      </div>
        <div class="wbox success">
          <h3 class="title">我们的爱</h3>
          <div class="content">vxzvzv</div>
          <div class="foot">

          </div>
        </div>
          <div class="wbox error">
            <h3 class="title"><<a href="#">222</a>我们的爱</h3>
            <div class="content">vxzvzv</div>
            <div class="foot">

            </div>
          </div>
            <div class="wbox">
              <h3 class="title">我们的爱</h3>
              <div class="content">vxzvzv</div>
              <div class="foot">

              </div>
            </div><hr>
            <table class="table center" style="width:100%">
            <thead>
            <tr>
            <th>时间</th>
            <th>支持者</th>
            <th>金额</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>2017/05/05</td>
            <td><a href="http://www.theask.cn" target="_blank" class="at" rel="noopener noreferrer">该问</a></td>
            <td>¥10.00</td>
            </tr>
            <tr>
            <td>2017/05/07</td>
            <td><a href="http://mr-why.com" target="_blank" class="at" rel="noopener noreferrer">MR WHY</a></td>
            <td>¥6.00</td>
            </tr>
            <tr>
            <td>2017/05/07</td>
            <td><a href="http://mr-why.com" target="_blank" class="at" rel="noopener noreferrer">MR WHY</a></td>
            <td>¥8.00</td>
            </tr>
            <tr>
            <td>2018/02/23</td>
            <td><a href="http://lfcloud.vicp.io/" target="_blank" class="at" rel="noopener noreferrer">LF112</a></td>
            <td>¥6.66</td>
            </tr>
            <tr>
            <td>2018/02/23</td>
            <td><a href="http://lfcloud.vicp.io/" target="_blank" class="at" rel="noopener noreferrer">LF112</a></td>
            <td>¥2.33</td>
            </tr>
            <tr>
            <td>2018/02/23</td>
            <td><a href="https://mikusa.cn/" target="_blank" class="at" rel="noopener noreferrer">mikusa</a></td>
            <td>¥0.73</td>
            </tr>
            <tr>
            <td>2018/02/23</td>
            <td><a href="https://www.61cx.cn/" target="_blank" class="at" rel="noopener noreferrer">初夏酱</a></td>
            <td>¥4.27</td>
            </tr>
            <tr>
            <td>2018/02/23</td>
            <td><span>陈阿宅</span></td>
            <td>¥18.88</td>
            </tr>
            <tr>
            <td>2018/02/23</td>
            <td><a href="http://lfcloud.vicp.io/" target="_blank" class="at" rel="noopener noreferrer">LF112</a></td>
            <td>¥12.33</td>
            </tr>
            <tr>
            <td>2018/02/25</td>
            <td><a href="http://lfcloud.vicp.io/" target="_blank" class="at" rel="noopener noreferrer">LF112</a></td>
            <td>¥1.23</td>
            </tr>
            <tr>
            <td>2018/02/27</td>
            <td><a href="https://mikusa.cn/" target="_blank" class="at" rel="noopener noreferrer">mikusa</a></td>
            <td>¥0.10</td>
            </tr>
            <tr>
            <td>2018/02/28</td>
            <td><a href="http://bilibiili.com" target="_blank" class="at" rel="noopener noreferrer">王震邦</a></td>
            <td>¥2.33</td>
            </tr>
            <tr>
            <td>2018/03/09</td>
            <td><a href="http://www.aiiui.com/" target="_blank" class="at" rel="noopener noreferrer">Mr杨</a></td>
            <td>¥5.00</td>
            </tr>
            <tr>
            <td>2018/03/15</td>
            <td><a href="http://www.bingwong.org" target="_blank" class="at" rel="noopener noreferrer">Bing</a></td>
            <td>¥6.66</td>
            </tr>
            <tr>
            <td>2018/04/23</td>
            <td><a href="http://wz1027.iicp.net" target="_blank" class="at" rel="noopener noreferrer">吴雨恒</a></td>
            <td>¥23.33</td>
            </tr>
            <tr>
            <td>2019/04/12</td>
            <td><a href="https://www.ad-s.cn/" target="_blank" class="at" rel="noopener noreferrer">冰峰博客</a></td>
            <td>¥23.33</td>
            </tr>
            <tr>
            <td>2019/04/22</td>
            <td><a href="http://www.theask.cn" target="_blank" class="at" rel="noopener noreferrer">该问</a></td>
            <td>¥50.00</td>
            </tr>
            </tbody>
            </table>
  </div>
</main>
