---
layout: default
---
<main class="page-content post" aria-label="Content">
  <div class="wrapper">
    <article class="post post-page h-entry" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="post-banner" style="background-image:url({{ page.banner | default: site.data.members.banner2}}?{{ page.id }})">
        <a class="post-cate" href="/categories.html#{{ page.categories }}">{{ page.categories }}</a>
      </div>
      <div class="post-info">
        <div class="post-avatar" style="background:url({{ page.avatar | default: site.data.members.avatar}})"></div>
        <div class="post-meta">
          <p class="post-author">{{ page.author | default: site.data.members.author}}</p>
          <time class="post-date">{{ page.date | date: "%Y/%m/%d %H:%M:%S" }}</time>
        </div>
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      </div>
      <header class="post-header">

      </header>
      <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
      </div>
    </article>
    <div class="post-replay">
      <h3>评论</h3>
      <replay-comments id="lv-container" data-id="city" data-uid="MTAyMC8zNTMzMC8xMTg2Ng=="></replay-comments>
    </div>
  </div>
</main>
